[user]
  email = komlenic@gmail.com
  name = Chris Komlenic
[core]
  editor = vim
  autocrlf = input
  pager = less -R -i --quit-if-one-screen -X -S
[color]
  ui = true
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  diff = diff --color
  show = show --color
[push]
	default = current
[init]
	templatedir = ~/.git_templates
[branch]
	autosetuprebase = always
[help]
	autocorrect = 30
